<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-10">

    <ul>
      <li>
        <h1>Estudio Galvez</h1> - <h4>Enero 2022</h4>
      </li>
      <p>CRM. Carga de documentacion. Atencion al cliente. Seguimiento y fidelizacion de cartera. Cobranza de mora tardia.  </p>
    </ul>


    <ul>
      <li>
        <h1>Estudio M&P</h1> - <h4>Enero 2020</h4>
      </li>
      <p>Atencion al cliente. CRM.Alta de prospectos. Seguimiento y fidelizacion. Comercializacion de intangibles</p>
    </ul>
  </div>
</div>
