<div class="row">
  <h1>Educacion</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-10">

    <ul>
      <li>
        <h1>Escuela de Educacion Secundaria Tecnica N2</h1> - <h4>2012-2019</h4>
      </li>
      <p>Tecnico Electrónico con orientacion a los Sistemas de Control y Programacion</p>
    </ul>


    <ul>
      <li>
        <h1>Quilmes Programa</h1> - <h4>Junio 2020</h4>
      </li>
      <p>Introduccion a la programacion. Programacion imperativa. Programacion orientada a objetos</p>
    </ul>

    <ul>
      <li>
        <h1>Argentina Programa</h1> - <h4>Julio 2021</h4>
      </li>
      <p>Programacion Web Full-Stack</p>
    </ul>

  </div>
</div>
