<div class="social-img">
  <a href="#"> <img src= "https://www.pngarts.com/files/9/Instagram-Logo-PNG-Image-File.png" alt="Instagram" /> </a>
  <a href="#"> <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github" /> </a>
  <a href=""> <img src="https://cdn-icons-png.flaticon.com/512/20/20673.png" alt="Facebook" /> </a>
  <a href=""> <img src="https://cdn.icon-icons.com/icons2/2428/PNG/512/linkedin_black_logo_icon_147114.png" alt="Linklnd" /> </a>
  <a href= ""> <img src="https://cdn-icons-png.flaticon.com/512/49/49328.png" alt="Twitter" /> </a>
 
</div>
